.THIS .layoutitem-1 {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #ffab40;
    color: #fff;
}

.THIS .layoutitem-2 {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #0097a7;
    color: #fff;
}

.THIS .layoutitem-3 {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #cc4e3d;
    color: #fff;
}

.THIS .layoutitem-4 {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #a9c370;
    color: #fff;
}

.THIS .layoutitem-5 {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #c37ea2;
    color: #fff;
}

.THIS .layoutitem-6 {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #607D8B;
    color: #fff;
}

.THIS .layoutitem-7 {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #74abdd;
    color: #fff;
}